@import "tailwindcss";

:root {
  --background: #ffffff;
  --sub-background: #f8f8f8;
  --text-main: #222222;
  --text-sub: #666666;
  --border: #e5e5e5;
  --primary: #f66b1e;
  --primary-light: #fff0e8;
  --success: #22c55e;
}

@theme inline {
  --color-background: var(--background);
  --color-sub-background: var(--sub-background);
  --color-text-main: var(--text-main);
  --color-text-sub: var(--text-sub);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-success: var(--success);
}

body {
  background: var(--background);
  color: var(--text-main);
  font-family: "Pretendard", var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
